body {
background-color: aqua;
border: solid black;
display: flex;
width: 100vw;
height: 100vw;
align-content: center;
justify-content: center;

}

div {
display: flex;
flex-direction: column;
justify-content: center;

width: 40vw;
height: 30vw;
align-items: center;


}

.guessNumber {
margin-bottom: 100px;
margin-top:500px;


}

input {

    margin-bottom: 60px;

}


.submit {

border-radius: 20px;
width: 100vmin;
height: 15vmin;
font-size: 5vmin;

}
.hint {

    border-radius: 20px;
    width: 100vmin;
    height: 15vmin;
    font-size: 5vmin;

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}